//general
html {
    
    box-sizing: border-box;

}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    color: $grayishBlue;
    font-size: $normalFont;
    font-family: 'Public Sans', sans-serif;

    &.noscroll {
        overflow: hidden;
    }

    @include breakpoint-up(large) {
        font-size: $normalFont;
    }
}

h1, h2, h3 {
    margin-top: 0px;
}

//flexbox

.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

//links

a, a:visited, a:hover {
    text-decoration: none;
}

//buttons
button, .button {
    padding: 0.875rem 2.1875rem;
    border-radius: 45px;
    cursor: pointer;
    display: inline-block;
    font-size: $smallFont;
    color: $white;
    font-weight: bold;
    outline: none;
    border: 0;
    background: linear-gradient(90deg, $limeGreen, $brightCyan);
    transition: opacity 300ms ease-in-out;

    &:hover {
        opacity: 0.75;
    }
}

//spacing

.container {
    max-width: 69.375rem;
    margin: 0 auto;

    &--pall { //padding todos os lados
        padding-top: 2.25rem;
        padding-right: 1.5rem;
        padding-bottom: 2.25rem;
        padding-left: 1.5rem;
    }
    &--py { //padding vertical
        padding-top: 2.25rem;
        padding-bottom: 2.25rem;
    }
    &--px { //padding horizontal
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
    &--pt { //padding cima
        padding-top: 2.25rem;
    }
    &--pr { //padding direita
        padding-right: 1.5rem;
    }
    &--pb { //padding embaixo
        padding-bottom: 2.25rem;
    }
    &--pl { //padding lateral esquerda
        padding-left: 1.5rem;
    }
}

//visibility

.hide-for-mobile {
    //hide for mobile and tablet widths
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    //hide for desktop widths
    @include breakpoint-up(large) {
        display: none;
    }
}